Repository DevFTB/LD57, pull requests merged in 2025-04, with the labels that each got.

#10 Added Player Controller
  entities/player/grounded_character_controller.gd
  entities/player/grounded_character_controller.gd.uid
  entities/player/player.gd
  entities/player/player.gd.uid
  entities/player/player.tscn
  game.tscn
  project.godot
  world/tileset/test_tileset.png
  world/tileset/test_tileset.png.import
  world/tileset/test_tileset.tres
Labels: entities

#11 Added inventory system
  entities/player/inventory_component.gd
  entities/player/inventory_component.gd.uid
  entities/player/player.tscn
  entities/player/player_inventory.tres
  game.tscn
  systems/inventory/inventory.gd
  systems/inventory/inventory.gd.uid
  systems/inventory/item.gd
  systems/inventory/item.gd.uid
  systems/inventory/items/item_bombpowder.tres
  systems/inventory/items/item_upgradium.tres
  systems/inventory/items/texture_bombpowder.png
  systems/inventory/items/texture_bombpowder.png.import
  systems/inventory/items/texture_upgradium.png
  systems/inventory/items/texture_upgradium.png.import
  ui/inventory_control.gd
  ui/inventory_control.gd.uid
  ui/inventory_item_control.gd
  ui/inventory_item_control.gd.uid
  ui/test_inventory_item_control.tscn
Labels: systems

#16 Added bomb inventory, selection, throwing and tile destruction.
  entities/moab/moab_entity.gd
  entities/player/player.gd
  entities/player/player.tscn
  entities/player/player_bomb_inventory.tres
  entities/throwables/bomb/bomb_basic_type.tres
  entities/throwables/bomb/bomb_sticky_type.tres
  entities/throwables/bomb/bomb_type.gd
  entities/throwables/bomb/bomb_type.gd.uid
  entities/throwables/bomb/sticky_bomb.png
  entities/throwables/bomb/sticky_bomb.png.import
  entities/throwables/bomb/throwable_bomb.png
  entities/throwables/bomb/throwable_bomb.png.import
  entities/throwables/bomb/throwable_bomb_entity.gd
  entities/throwables/bomb/throwable_bomb_entity.gd.uid
  entities/throwables/bomb/throwable_bomb_entity.tscn
  game.tscn
  project.godot
  systems/inventory/item.gd
  systems/inventory/items/item_basic_bomb.tres
  systems/inventory/items/item_bombpowder.tres
  systems/inventory/items/item_sticky_bomb.tres
  world.gd
  world.gd.uid
Labels: entities

#19 Upgrades
  systems/upgrades/upgrade.gd
  systems/upgrades/upgrade.gd.uid
  systems/upgrades/upgrade.tres
  ui/test_upgrade_control_scene.tscn
  ui/upgrade_button.gd
  ui/upgrade_button.gd.uid
  ui/upgrade_button.tscn
Labels: systems, ui

#23 Added throw cooldown
  entities/player/player.gd
  entities/player/player.tscn
  entities/throwables/bomb/bomb_type.gd
Labels: entities

#24 Added a spawn area at the top of the cavegen
  cavegen_test.tscn
  entities/player/player.tscn
  game.tscn
  world.gd
  world/tileset/test_tileset.png
  world/tileset/test_tileset.png.import
  world/tileset/test_tileset.tres
Labels: world

#25 Tile Hardness
  entities/throwables/bomb/bomb_basic_type.tres
  entities/throwables/bomb/bomb_type.gd
  entities/throwables/bomb/throwable_bomb_entity.gd
  entities/throwables/bomb/throwable_bomb_entity.tscn
  world.gd
Labels: world

#26 ore generation complete
  cavegen_test.tscn
  world/MoveCameraDebug.gd
  world/MoveCameraDebug.gd.uid
  world/levelgen.gd
  world/tileset/ore_tileset.tres
  world/tileset/test_ores.png
  world/tileset/test_ores.png.import
Labels: world

#37 Entity and bomb damage
  cavegen_test.tscn
  entities/common/hitbox_component.gd
  entities/common/hitbox_component.tscn
  entities/common/hurtbox_component.tscn
  entities/enemies/enemy.gd
  entities/enemies/enemy.tscn
  entities/enemies/enemy_stats.gd
  entities/player/bomb_strength_progress_bar.gd
  entities/player/bomb_strength_progress_bar.gd.uid
  entities/player/player.gd
  entities/player/player.tscn
  entities/throwables/bomb/bomb_basic_type.tres
  entities/throwables/bomb/bomb_sticky_type.tres
  entities/throwables/bomb/bomb_type.gd
  entities/throwables/bomb/throwable_bomb_entity.gd
  entities/throwables/bomb/throwable_bomb_entity.tscn
  game.tscn
  ui/health/health_bar.gd
  ui/health/health_bar.gd.uid
  ui/health/health_bar.tscn
  world.gd
  world/levelgen.gd
Labels: entities

#36 Integrated upgrade system with bombs.
  entities/player/player.gd
  entities/player/player_inventory.tres
  entities/throwables/bomb/bomb_basic.tres
  entities/throwables/bomb/bomb_sticky.tres
  game.tscn
  project.godot
  systems/inventory/inventory.gd
  systems/inventory/item.gd
  systems/inventory/items/item_basic_bomb.tres
  systems/inventory/items/item_sticky_bomb.tres
  systems/moab/moab_explosion_system.gd
  systems/upgrades/icons/bomb_radius_icon.png
  systems/upgrades/icons/bomb_radius_icon.png.import
  systems/upgrades/icons/bomb_strength.png
  systems/upgrades/icons/bomb_strength.png.import
  systems/upgrades/player_upgrade_state.gd
  systems/upgrades/player_upgrade_state.gd.uid
  systems/upgrades/upgrade.gd
  systems/upgrades/upgrade_bomb_hardness.tres
  systems/upgrades/upgrade_bomb_radius.tres
  ui/inventory/inventory_control.gd
  ui/inventory/inventory_control.gd.uid
  ui/inventory/inventory_item_control.gd
  ui/inventory/inventory_item_control.gd.uid
  ui/inventory/test_inventory_item_control.tscn
  ui/upgrade/test_upgrade_control_scene.tscn
  ui/upgrade/upgrade_button.gd
  ui/upgrade/upgrade_button.gd.uid
  ui/upgrade/upgrade_button.tscn
  ui/upgrade/upgrade_gui.gd
  ui/upgrade/upgrade_gui.gd.uid
  ui/upgrade_button.gd
  ui/upgrade_button.tscn
  world/detectors/player_detector_area_2d.gd
Labels: systems, entities

#39 Ore Breaking
  entities/enemies/enemy.gd
  entities/enemies/state.gd
  entities/enemies/states/flying.gd
  entities/enemies/states/idle.gd
  entities/item/item_entity.gd
  entities/item/item_entity.gd.uid
  entities/item/item_entity.tscn
  entities/player/player.gd
  entities/throwables/bomb/bomb_sticky.tres
  game.tscn
  systems/inventory/items/item_basic_bomb.tres
  systems/inventory/items/item_sticky_bomb.tres
  systems/moab/moab_explosion_system.gd
  world.gd
  world/levelgen.gd
  world/tileset/ore_tileset.tres
Labels: world

#44 Vertical traversal
  entities/player/grapple/grapple_hook.png
  entities/player/grapple/grapple_hook.png.import
  entities/player/grapple_point.gd
  entities/player/grapple_point.gd.uid
  entities/player/jetpack.gd
  entities/player/jetpack.gd.uid
  entities/player/player.gd
  entities/player/player.tscn
  project.godot
Labels: entities

#47 Entity Animations and Particles
  entities/enemies/bat/bat.png
  entities/enemies/bat/bat.png.import
  entities/enemies/bat/bat.tscn
  entities/enemies/enemy.gd
  entities/enemies/enemy.tscn
  entities/enemies/enemy_animation_tree.gd
  entities/enemies/enemy_animation_tree.gd.uid
  entities/enemies/states/flying.gd
  entities/moab/moab idle.png
  entities/moab/moab idle.png.import
  entities/moab/moab_entity.gd
  entities/moab/moab_entity.tscn
  entities/player/animations/idle.png
  entities/player/animations/idle.png.import
  entities/player/animations/jump.png
  entities/player/animations/jump.png.import
  entities/player/animations/throw.png
  entities/player/animations/throw.png.import
  entities/player/animations/walk.png
  entities/player/animations/walk.png.import
  entities/player/jetpack.gd
  entities/player/particles/jetpack_particles.png
  entities/player/particles/jetpack_particles.png.import
  entities/player/player.tscn
  entities/player/player_animation_tree.gd
  entities/player/player_animation_tree.gd.uid
  game.tscn
Labels: entities, assets

#50 jetpack and grapple changes
  entities/enemies/enemy.tscn
  entities/player/grapple_point.gd
  entities/player/jetpack.gd
  entities/player/player.gd
  entities/player/player.tscn
  entities/player/player.tscn1255982606.tmp
  game.tscn
Labels: entities

#56 Stat tracking
  entities/enemies/enemy.gd
  entities/moab/moab_entity.gd
  entities/player/player.gd
  game.tscn
  global_stat_label.gd
  global_stat_label.gd.uid
  project.godot
  stats_manager.gd
  stats_manager.gd.uid
  systems/stats_manager.tscn
  world.gd
Labels: systems

#59 Camera spawn area fix
  world.gd
Labels: bug, entities

#63 New bomb types
  entities/common/entity_hurtbox_component.gd
  entities/common/entity_hurtbox_component.gd.uid
  entities/common/hitbox_component.gd
  entities/enemies/enemy.gd
  entities/player/bomb_strength_progress_bar.gd
  entities/player/player.gd
  entities/player/player.tscn
  entities/player/player_bomb_inventory.tres
  entities/throwables/bomb/bomb_impact.tres
  entities/throwables/bomb/bomb_nuclear.tres
  entities/throwables/bomb/bomb_shrapnel.tres
  entities/throwables/bomb/bomb_type.gd
  entities/throwables/bomb/impact_bomb.png
  entities/throwables/bomb/impact_bomb.png.import
  entities/throwables/bomb/nuclear_bomb.png
  entities/throwables/bomb/nuclear_bomb.png.import
  entities/throwables/bomb/shapnel_bomb.png
  entities/throwables/bomb/shapnel_bomb.png.import
  entities/throwables/bomb/sticky_bomb.png
  entities/throwables/bomb/throwable_bomb.png
  entities/throwables/bomb/throwable_bomb_entity.gd
  entities/throwables/bomb/throwable_bomb_entity.tscn
  game.tscn
  project.godot
  systems/inventory/items/item_impact_bomb.tres
  systems/inventory/items/item_nuclear_bomb.tres
  systems/inventory/items/item_shrapnel_bomb.tres
  test/enemy_testing.tscn
  ui/bomb_select/bomb_slot_select.gd
Labels: systems, entities

#65 Added loot chest and loot table
  entities/item/item_entity.gd
  entities/loot_chest/loot_chest.gd
  entities/loot_chest/loot_chest.gd.uid
  entities/loot_chest/loot_chest.tscn
  entities/loot_chest/loot_table.gd
  entities/loot_chest/loot_table.gd.uid
  entities/loot_chest/loot_table_entry.gd
  entities/loot_chest/loot_table_entry.gd.uid
  entities/loot_chest/loot_table_hardness_1.tres
  entities/loot_chest/loot_table_hardness_2.tres
  entities/loot_chest/loot_table_hardness_3.tres
  entities/loot_chest/random_float.gd
  entities/loot_chest/random_float.gd.uid
  entities/player/player.tscn
  entities/player/player_bomb_inventory.tres
  entities/throwables/bomb/bomb_sticky.tres
  entities/throwables/bomb/throwable_bomb_entity.tscn
  game.tscn
  project.godot
  systems/inventory/items/item_sticky_bomb.tres
  world.gd
  world/loot/chest.png
  world/loot/chest.png.import
  world/tileset/ore_tileset.tres
Labels: systems, world

#72 Fix traversal UI
  entities/player/player.gd
  game.tscn
  release.tscn
  systems/upgrades/player_upgrade_state.gd
  ui/HUD/fuel_bar.gd
  ui/grapple_ui.gd
  ui/grapple_ui.gd.uid
  ui/timer_progress_bar.gd
Labels: bug, ui

#73 More world gen
  enemy_spawner.gd
  game.tscn
  test/cavegen_test.tscn
  test/enemy_testing.tscn
  world/levelgen.gd
Labels: world

#79 Added main menu and pause menu
  entities/player/player.tscn
  game.tscn
  menu/main_menu.gd
  menu/main_menu.gd.uid
  menu/main_menu.tscn
  menu/pause_menu.gd
  menu/pause_menu.gd.uid
  menu/pause_menu.tscn
  project.godot
  release.tscn
Labels: ui

#83 Split item drops
  entities/player/player.gd
  game.tscn
  release.tscn
  world.gd
Labels: entities

#84 More world gen
  world/levelgen.gd
Labels: world

#91 Explosion tile chunking
  entities/item/item_entity.gd
  entities/item/item_entity.tscn
  entities/throwables/bomb/bomb_nuclear.tres
  game.tscn
  main_camera.gd
  world.gd
Labels: entities, world

#111 Fix item issues
  entities/item/item_entity.gd
  entities/item/item_entity.tscn
  entities/moab/moab_entity.gd
  entities/player/player.gd
  game.tscn
  release.tscn
  ui/bomb_timer/moab 1.png
  ui/bomb_timer/moab 1.png.import
  ui/bomb_timer/moab 2.png
  ui/bomb_timer/moab 2.png.import
  ui/bomb_timer/moab 3.png
  ui/bomb_timer/moab 3.png.import
  ui/bomb_timer/moab 4.png
  ui/bomb_timer/moab 4.png.import
  world/detectors/player_detector_area_2d.gd
Labels: ui

#110 Fixed game over screen interaction
  game.tscn
Labels: bug

#113 Added skeleton anim
  entities/enemies/skeleton_bomber/bomb_attack.gd
  entities/enemies/skeleton_bomber/skelebebe throw.png
  entities/enemies/skeleton_bomber/skelebebe throw.png.import
  entities/enemies/skeleton_bomber/skelebebe.png
  entities/enemies/skeleton_bomber/skelebebe.png.import
  entities/enemies/skeleton_bomber/skeleton_bomber_animation_tree.gd
  entities/enemies/skeleton_bomber/skeleton_bomber_animation_tree.gd.uid
  entities/enemies/skeleton_bomber/skeleton_bomber_enemy.tscn
  entities/enemies/states/ranged_attack.gd
  entities/import_animation_player.gd
  release.tscn
  test/enemy_testing.tscn
Labels: entities

#126 Visual upgrades + tutorial flow
  entities/item/item_entity.gd
  entities/item/item_entity.tscn
  entities/player/player.gd
  game.gd
  game.tscn
  menu/Untitled_Artwork-1.png
  menu/Untitled_Artwork-1.png.import
  menu/Untitled_Artwork-2.png
  menu/Untitled_Artwork-2.png.import
  menu/Untitled_Artwork-3.png
  menu/Untitled_Artwork-3.png.import
  menu/game_over.tscn
  menu/game_over_menu.gd
  menu/main_menu.tscn
  menu/pause_menu.tscn
  release.tscn
  ui/HUD/hint_container.tscn
  ui/HUD/hud.tscn
  ui/bomb_timer/bomb_ui.gd
Labels: systems, world

#136 Flashing Bombs
  entities/throwables/bomb/throwable_bomb_entity.gd
  entities/throwables/bomb/throwable_bomb_entity.gdshader
  entities/throwables/bomb/throwable_bomb_entity.gdshader.uid
  entities/throwables/bomb/throwable_bomb_entity.tscn
Labels: entities
